.outsideWrapper{ 

}
.insideWrapper{ 
    position:relative;
}
.coveredImage{ 
/*     position:absolute; top:0px; left:0px; */
	display:block;
}
.coveringCanvas{ 
    position:absolute; top:0px; left:0px;
}

#imagetable {
    position:absolute; top:0px; left:0px;
    border-collapse: collapse;
}
.imagetablerow, .imagetabledata {
    padding: 0;
}