@(presenter: String, username: String)

@main(username) {
	<h1>whiteboard session</h1>
    
    <div id="messages"></div>

	<div class="outsideWrapper">
		<div class="insideWrapper">
<!-- 			<img id="image" class="coveredImage"> -->


<table>
	<tr>
		<td><img id="imageX0Y0" class="coveredImage"></td>
		<td><img id="imageX0Y1" class="coveredImage"></td>
		<td><img id="imageX0Y2" class="coveredImage"></td>
		<td><img id="imageX0Y3" class="coveredImage"></td>
		<td><img id="imageX0Y4" class="coveredImage"></td>
		<td><img id="imageX0Y5" class="coveredImage"></td>
		<td><img id="imageX0Y6" class="coveredImage"></td>
		<td><img id="imageX0Y7" class="coveredImage"></td>
		<td><img id="imageX0Y8" class="coveredImage"></td>
		<td><img id="imageX0Y9" class="coveredImage"></td>
		<td><img id="imageX0Y10" class="coveredImage"></td>
		<td><img id="imageX0Y11" class="coveredImage"></td>
		<td><img id="imageX0Y12" class="coveredImage"></td>
		<td><img id="imageX0Y13" class="coveredImage"></td>
		<td><img id="imageX0Y14" class="coveredImage"></td>
		<td><img id="imageX0Y15" class="coveredImage"></td>
		<td><img id="imageX0Y16" class="coveredImage"></td>
		<td><img id="imageX0Y17" class="coveredImage"></td>
		<td><img id="imageX0Y18" class="coveredImage"></td>
		<td><img id="imageX0Y19" class="coveredImage"></td>
	</tr>
	<tr>
		<td><img id="imageX1Y0" class="coveredImage"></td>
		<td><img id="imageX1Y1" class="coveredImage"></td>
		<td><img id="imageX1Y2" class="coveredImage"></td>
		<td><img id="imageX1Y3" class="coveredImage"></td>
		<td><img id="imageX1Y4" class="coveredImage"></td>
		<td><img id="imageX1Y5" class="coveredImage"></td>
		<td><img id="imageX1Y6" class="coveredImage"></td>
		<td><img id="imageX1Y7" class="coveredImage"></td>
		<td><img id="imageX1Y8" class="coveredImage"></td>
		<td><img id="imageX1Y9" class="coveredImage"></td>
		<td><img id="imageX1Y10" class="coveredImage"></td>
		<td><img id="imageX1Y11" class="coveredImage"></td>
		<td><img id="imageX1Y12" class="coveredImage"></td>
		<td><img id="imageX1Y13" class="coveredImage"></td>
		<td><img id="imageX1Y14" class="coveredImage"></td>
		<td><img id="imageX1Y15" class="coveredImage"></td>
		<td><img id="imageX1Y16" class="coveredImage"></td>
		<td><img id="imageX1Y17" class="coveredImage"></td>
		<td><img id="imageX1Y18" class="coveredImage"></td>
		<td><img id="imageX1Y19" class="coveredImage"></td>
	</tr>
	<tr>
		<td><img id="imageX2Y0" class="coveredImage"></td>
		<td><img id="imageX2Y1" class="coveredImage"></td>
		<td><img id="imageX2Y2" class="coveredImage"></td>
		<td><img id="imageX2Y3" class="coveredImage"></td>
		<td><img id="imageX2Y4" class="coveredImage"></td>
		<td><img id="imageX2Y5" class="coveredImage"></td>
		<td><img id="imageX2Y6" class="coveredImage"></td>
		<td><img id="imageX2Y7" class="coveredImage"></td>
		<td><img id="imageX2Y8" class="coveredImage"></td>
		<td><img id="imageX2Y9" class="coveredImage"></td>
		<td><img id="imageX2Y10" class="coveredImage"></td>
		<td><img id="imageX2Y11" class="coveredImage"></td>
		<td><img id="imageX2Y12" class="coveredImage"></td>
		<td><img id="imageX2Y13" class="coveredImage"></td>
		<td><img id="imageX2Y14" class="coveredImage"></td>
		<td><img id="imageX2Y15" class="coveredImage"></td>
		<td><img id="imageX2Y16" class="coveredImage"></td>
		<td><img id="imageX2Y17" class="coveredImage"></td>
		<td><img id="imageX2Y18" class="coveredImage"></td>
		<td><img id="imageX2Y19" class="coveredImage"></td>
	</tr>
	<tr>
		<td><img id="imageX3Y0" class="coveredImage"></td>
		<td><img id="imageX3Y1" class="coveredImage"></td>
		<td><img id="imageX3Y2" class="coveredImage"></td>
		<td><img id="imageX3Y3" class="coveredImage"></td>
		<td><img id="imageX3Y4" class="coveredImage"></td>
		<td><img id="imageX3Y5" class="coveredImage"></td>
		<td><img id="imageX3Y6" class="coveredImage"></td>
		<td><img id="imageX3Y7" class="coveredImage"></td>
		<td><img id="imageX3Y8" class="coveredImage"></td>
		<td><img id="imageX3Y9" class="coveredImage"></td>
		<td><img id="imageX3Y10" class="coveredImage"></td>
		<td><img id="imageX3Y11" class="coveredImage"></td>
		<td><img id="imageX3Y12" class="coveredImage"></td>
		<td><img id="imageX3Y13" class="coveredImage"></td>
		<td><img id="imageX3Y14" class="coveredImage"></td>
		<td><img id="imageX3Y15" class="coveredImage"></td>
		<td><img id="imageX3Y16" class="coveredImage"></td>
		<td><img id="imageX3Y17" class="coveredImage"></td>
		<td><img id="imageX3Y18" class="coveredImage"></td>
		<td><img id="imageX3Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX4Y0" class="coveredImage"></td>
		<td><img id="imageX4Y1" class="coveredImage"></td>
		<td><img id="imageX4Y2" class="coveredImage"></td>
		<td><img id="imageX4Y3" class="coveredImage"></td>
		<td><img id="imageX4Y4" class="coveredImage"></td>
		<td><img id="imageX4Y5" class="coveredImage"></td>
		<td><img id="imageX4Y6" class="coveredImage"></td>
		<td><img id="imageX4Y7" class="coveredImage"></td>
		<td><img id="imageX4Y8" class="coveredImage"></td>
		<td><img id="imageX4Y9" class="coveredImage"></td>
		<td><img id="imageX4Y10" class="coveredImage"></td>
		<td><img id="imageX4Y11" class="coveredImage"></td>
		<td><img id="imageX4Y12" class="coveredImage"></td>
		<td><img id="imageX4Y13" class="coveredImage"></td>
		<td><img id="imageX4Y14" class="coveredImage"></td>
		<td><img id="imageX4Y15" class="coveredImage"></td>
		<td><img id="imageX4Y16" class="coveredImage"></td>
		<td><img id="imageX4Y17" class="coveredImage"></td>
		<td><img id="imageX4Y18" class="coveredImage"></td>
		<td><img id="imageX4Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX5Y0" class="coveredImage"></td>
		<td><img id="imageX5Y1" class="coveredImage"></td>
		<td><img id="imageX5Y2" class="coveredImage"></td>
		<td><img id="imageX5Y3" class="coveredImage"></td>
		<td><img id="imageX5Y4" class="coveredImage"></td>
		<td><img id="imageX5Y5" class="coveredImage"></td>
		<td><img id="imageX5Y6" class="coveredImage"></td>
		<td><img id="imageX5Y7" class="coveredImage"></td>
		<td><img id="imageX5Y8" class="coveredImage"></td>
		<td><img id="imageX5Y9" class="coveredImage"></td>
		<td><img id="imageX5Y10" class="coveredImage"></td>
		<td><img id="imageX5Y11" class="coveredImage"></td>
		<td><img id="imageX5Y12" class="coveredImage"></td>
		<td><img id="imageX5Y13" class="coveredImage"></td>
		<td><img id="imageX5Y14" class="coveredImage"></td>
		<td><img id="imageX5Y15" class="coveredImage"></td>
		<td><img id="imageX5Y16" class="coveredImage"></td>
		<td><img id="imageX5Y17" class="coveredImage"></td>
		<td><img id="imageX5Y18" class="coveredImage"></td>
		<td><img id="imageX5Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX6Y0" class="coveredImage"></td>
		<td><img id="imageX6Y1" class="coveredImage"></td>
		<td><img id="imageX6Y2" class="coveredImage"></td>
		<td><img id="imageX6Y3" class="coveredImage"></td>
		<td><img id="imageX6Y4" class="coveredImage"></td>
		<td><img id="imageX6Y5" class="coveredImage"></td>
		<td><img id="imageX6Y6" class="coveredImage"></td>
		<td><img id="imageX6Y7" class="coveredImage"></td>
		<td><img id="imageX6Y8" class="coveredImage"></td>
		<td><img id="imageX6Y9" class="coveredImage"></td>
		<td><img id="imageX6Y10" class="coveredImage"></td>
		<td><img id="imageX6Y11" class="coveredImage"></td>
		<td><img id="imageX6Y12" class="coveredImage"></td>
		<td><img id="imageX6Y13" class="coveredImage"></td>
		<td><img id="imageX6Y14" class="coveredImage"></td>
		<td><img id="imageX6Y15" class="coveredImage"></td>
		<td><img id="imageX6Y16" class="coveredImage"></td>
		<td><img id="imageX6Y17" class="coveredImage"></td>
		<td><img id="imageX6Y18" class="coveredImage"></td>
		<td><img id="imageX6Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX7Y0" class="coveredImage"></td>
		<td><img id="imageX7Y1" class="coveredImage"></td>
		<td><img id="imageX7Y2" class="coveredImage"></td>
		<td><img id="imageX7Y3" class="coveredImage"></td>
		<td><img id="imageX7Y4" class="coveredImage"></td>
		<td><img id="imageX7Y5" class="coveredImage"></td>
		<td><img id="imageX7Y6" class="coveredImage"></td>
		<td><img id="imageX7Y7" class="coveredImage"></td>
		<td><img id="imageX7Y8" class="coveredImage"></td>
		<td><img id="imageX7Y9" class="coveredImage"></td>
		<td><img id="imageX7Y10" class="coveredImage"></td>
		<td><img id="imageX7Y11" class="coveredImage"></td>
		<td><img id="imageX7Y12" class="coveredImage"></td>
		<td><img id="imageX7Y13" class="coveredImage"></td>
		<td><img id="imageX7Y14" class="coveredImage"></td>
		<td><img id="imageX7Y15" class="coveredImage"></td>
		<td><img id="imageX7Y16" class="coveredImage"></td>
		<td><img id="imageX7Y17" class="coveredImage"></td>
		<td><img id="imageX7Y18" class="coveredImage"></td>
		<td><img id="imageX7Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX8Y0" class="coveredImage"></td>
		<td><img id="imageX8Y1" class="coveredImage"></td>
		<td><img id="imageX8Y2" class="coveredImage"></td>
		<td><img id="imageX8Y3" class="coveredImage"></td>
		<td><img id="imageX8Y4" class="coveredImage"></td>
		<td><img id="imageX8Y5" class="coveredImage"></td>
		<td><img id="imageX8Y6" class="coveredImage"></td>
		<td><img id="imageX8Y7" class="coveredImage"></td>
		<td><img id="imageX8Y8" class="coveredImage"></td>
		<td><img id="imageX8Y9" class="coveredImage"></td>
		<td><img id="imageX8Y10" class="coveredImage"></td>
		<td><img id="imageX8Y11" class="coveredImage"></td>
		<td><img id="imageX8Y12" class="coveredImage"></td>
		<td><img id="imageX8Y13" class="coveredImage"></td>
		<td><img id="imageX8Y14" class="coveredImage"></td>
		<td><img id="imageX8Y15" class="coveredImage"></td>
		<td><img id="imageX8Y16" class="coveredImage"></td>
		<td><img id="imageX8Y17" class="coveredImage"></td>
		<td><img id="imageX8Y18" class="coveredImage"></td>
		<td><img id="imageX8Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX9Y0" class="coveredImage"></td>
		<td><img id="imageX9Y1" class="coveredImage"></td>
		<td><img id="imageX9Y2" class="coveredImage"></td>
		<td><img id="imageX9Y3" class="coveredImage"></td>
		<td><img id="imageX9Y4" class="coveredImage"></td>
		<td><img id="imageX9Y5" class="coveredImage"></td>
		<td><img id="imageX9Y6" class="coveredImage"></td>
		<td><img id="imageX9Y7" class="coveredImage"></td>
		<td><img id="imageX9Y8" class="coveredImage"></td>
		<td><img id="imageX9Y9" class="coveredImage"></td>
		<td><img id="imageX9Y10" class="coveredImage"></td>
		<td><img id="imageX9Y11" class="coveredImage"></td>
		<td><img id="imageX9Y12" class="coveredImage"></td>
		<td><img id="imageX9Y13" class="coveredImage"></td>
		<td><img id="imageX9Y14" class="coveredImage"></td>
		<td><img id="imageX9Y15" class="coveredImage"></td>
		<td><img id="imageX9Y16" class="coveredImage"></td>
		<td><img id="imageX9Y17" class="coveredImage"></td>
		<td><img id="imageX9Y18" class="coveredImage"></td>
		<td><img id="imageX9Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX10Y0" class="coveredImage"></td>
		<td><img id="imageX10Y1" class="coveredImage"></td>
		<td><img id="imageX10Y2" class="coveredImage"></td>
		<td><img id="imageX10Y3" class="coveredImage"></td>
		<td><img id="imageX10Y4" class="coveredImage"></td>
		<td><img id="imageX10Y5" class="coveredImage"></td>
		<td><img id="imageX10Y6" class="coveredImage"></td>
		<td><img id="imageX10Y7" class="coveredImage"></td>
		<td><img id="imageX10Y8" class="coveredImage"></td>
		<td><img id="imageX10Y9" class="coveredImage"></td>
		<td><img id="imageX10Y10" class="coveredImage"></td>
		<td><img id="imageX10Y11" class="coveredImage"></td>
		<td><img id="imageX10Y12" class="coveredImage"></td>
		<td><img id="imageX10Y13" class="coveredImage"></td>
		<td><img id="imageX10Y14" class="coveredImage"></td>
		<td><img id="imageX10Y15" class="coveredImage"></td>
		<td><img id="imageX10Y16" class="coveredImage"></td>
		<td><img id="imageX10Y17" class="coveredImage"></td>
		<td><img id="imageX10Y18" class="coveredImage"></td>
		<td><img id="imageX10Y19" class="coveredImage"></td>
	</tr>
	<tr>
		<td><img id="imageX11Y0" class="coveredImage"></td>
		<td><img id="imageX11Y1" class="coveredImage"></td>
		<td><img id="imageX11Y2" class="coveredImage"></td>
		<td><img id="imageX11Y3" class="coveredImage"></td>
		<td><img id="imageX11Y4" class="coveredImage"></td>
		<td><img id="imageX11Y5" class="coveredImage"></td>
		<td><img id="imageX11Y6" class="coveredImage"></td>
		<td><img id="imageX11Y7" class="coveredImage"></td>
		<td><img id="imageX11Y8" class="coveredImage"></td>
		<td><img id="imageX11Y9" class="coveredImage"></td>
		<td><img id="imageX11Y10" class="coveredImage"></td>
		<td><img id="imageX11Y11" class="coveredImage"></td>
		<td><img id="imageX11Y12" class="coveredImage"></td>
		<td><img id="imageX11Y13" class="coveredImage"></td>
		<td><img id="imageX11Y14" class="coveredImage"></td>
		<td><img id="imageX11Y15" class="coveredImage"></td>
		<td><img id="imageX11Y16" class="coveredImage"></td>
		<td><img id="imageX11Y17" class="coveredImage"></td>
		<td><img id="imageX11Y18" class="coveredImage"></td>
		<td><img id="imageX11Y19" class="coveredImage"></td>
	</tr>
	<tr>
		<td><img id="imageX12Y0" class="coveredImage"></td>
		<td><img id="imageX12Y1" class="coveredImage"></td>
		<td><img id="imageX12Y2" class="coveredImage"></td>
		<td><img id="imageX12Y3" class="coveredImage"></td>
		<td><img id="imageX12Y4" class="coveredImage"></td>
		<td><img id="imageX12Y5" class="coveredImage"></td>
		<td><img id="imageX12Y6" class="coveredImage"></td>
		<td><img id="imageX12Y7" class="coveredImage"></td>
		<td><img id="imageX12Y8" class="coveredImage"></td>
		<td><img id="imageX12Y9" class="coveredImage"></td>
		<td><img id="imageX12Y10" class="coveredImage"></td>
		<td><img id="imageX12Y11" class="coveredImage"></td>
		<td><img id="imageX12Y12" class="coveredImage"></td>
		<td><img id="imageX12Y13" class="coveredImage"></td>
		<td><img id="imageX12Y14" class="coveredImage"></td>
		<td><img id="imageX12Y15" class="coveredImage"></td>
		<td><img id="imageX12Y16" class="coveredImage"></td>
		<td><img id="imageX12Y17" class="coveredImage"></td>
		<td><img id="imageX12Y18" class="coveredImage"></td>
		<td><img id="imageX12Y19" class="coveredImage"></td>
	</tr>
	<tr>
		<td><img id="imageX13Y0" class="coveredImage"></td>
		<td><img id="imageX13Y1" class="coveredImage"></td>
		<td><img id="imageX13Y2" class="coveredImage"></td>
		<td><img id="imageX13Y3" class="coveredImage"></td>
		<td><img id="imageX13Y4" class="coveredImage"></td>
		<td><img id="imageX13Y5" class="coveredImage"></td>
		<td><img id="imageX13Y6" class="coveredImage"></td>
		<td><img id="imageX13Y7" class="coveredImage"></td>
		<td><img id="imageX13Y8" class="coveredImage"></td>
		<td><img id="imageX13Y9" class="coveredImage"></td>
		<td><img id="imageX13Y10" class="coveredImage"></td>
		<td><img id="imageX13Y11" class="coveredImage"></td>
		<td><img id="imageX13Y12" class="coveredImage"></td>
		<td><img id="imageX13Y13" class="coveredImage"></td>
		<td><img id="imageX13Y14" class="coveredImage"></td>
		<td><img id="imageX13Y15" class="coveredImage"></td>
		<td><img id="imageX13Y16" class="coveredImage"></td>
		<td><img id="imageX13Y17" class="coveredImage"></td>
		<td><img id="imageX13Y18" class="coveredImage"></td>
		<td><img id="imageX13Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX14Y0" class="coveredImage"></td>
		<td><img id="imageX14Y1" class="coveredImage"></td>
		<td><img id="imageX14Y2" class="coveredImage"></td>
		<td><img id="imageX14Y3" class="coveredImage"></td>
		<td><img id="imageX14Y4" class="coveredImage"></td>
		<td><img id="imageX14Y5" class="coveredImage"></td>
		<td><img id="imageX14Y6" class="coveredImage"></td>
		<td><img id="imageX14Y7" class="coveredImage"></td>
		<td><img id="imageX14Y8" class="coveredImage"></td>
		<td><img id="imageX14Y9" class="coveredImage"></td>
		<td><img id="imageX14Y10" class="coveredImage"></td>
		<td><img id="imageX14Y11" class="coveredImage"></td>
		<td><img id="imageX14Y12" class="coveredImage"></td>
		<td><img id="imageX14Y13" class="coveredImage"></td>
		<td><img id="imageX14Y14" class="coveredImage"></td>
		<td><img id="imageX14Y15" class="coveredImage"></td>
		<td><img id="imageX14Y16" class="coveredImage"></td>
		<td><img id="imageX14Y17" class="coveredImage"></td>
		<td><img id="imageX14Y18" class="coveredImage"></td>
		<td><img id="imageX14Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX15Y0" class="coveredImage"></td>
		<td><img id="imageX15Y1" class="coveredImage"></td>
		<td><img id="imageX15Y2" class="coveredImage"></td>
		<td><img id="imageX15Y3" class="coveredImage"></td>
		<td><img id="imageX15Y4" class="coveredImage"></td>
		<td><img id="imageX15Y5" class="coveredImage"></td>
		<td><img id="imageX15Y6" class="coveredImage"></td>
		<td><img id="imageX15Y7" class="coveredImage"></td>
		<td><img id="imageX15Y8" class="coveredImage"></td>
		<td><img id="imageX15Y9" class="coveredImage"></td>
		<td><img id="imageX15Y10" class="coveredImage"></td>
		<td><img id="imageX15Y11" class="coveredImage"></td>
		<td><img id="imageX15Y12" class="coveredImage"></td>
		<td><img id="imageX15Y13" class="coveredImage"></td>
		<td><img id="imageX15Y14" class="coveredImage"></td>
		<td><img id="imageX15Y15" class="coveredImage"></td>
		<td><img id="imageX15Y16" class="coveredImage"></td>
		<td><img id="imageX15Y17" class="coveredImage"></td>
		<td><img id="imageX15Y18" class="coveredImage"></td>
		<td><img id="imageX15Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX16Y0" class="coveredImage"></td>
		<td><img id="imageX16Y1" class="coveredImage"></td>
		<td><img id="imageX16Y2" class="coveredImage"></td>
		<td><img id="imageX16Y3" class="coveredImage"></td>
		<td><img id="imageX16Y4" class="coveredImage"></td>
		<td><img id="imageX16Y5" class="coveredImage"></td>
		<td><img id="imageX16Y6" class="coveredImage"></td>
		<td><img id="imageX16Y7" class="coveredImage"></td>
		<td><img id="imageX16Y8" class="coveredImage"></td>
		<td><img id="imageX16Y9" class="coveredImage"></td>
		<td><img id="imageX16Y10" class="coveredImage"></td>
		<td><img id="imageX16Y11" class="coveredImage"></td>
		<td><img id="imageX16Y12" class="coveredImage"></td>
		<td><img id="imageX16Y13" class="coveredImage"></td>
		<td><img id="imageX16Y14" class="coveredImage"></td>
		<td><img id="imageX16Y15" class="coveredImage"></td>
		<td><img id="imageX16Y16" class="coveredImage"></td>
		<td><img id="imageX16Y17" class="coveredImage"></td>
		<td><img id="imageX16Y18" class="coveredImage"></td>
		<td><img id="imageX16Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX17Y0" class="coveredImage"></td>
		<td><img id="imageX17Y1" class="coveredImage"></td>
		<td><img id="imageX17Y2" class="coveredImage"></td>
		<td><img id="imageX17Y3" class="coveredImage"></td>
		<td><img id="imageX17Y4" class="coveredImage"></td>
		<td><img id="imageX17Y5" class="coveredImage"></td>
		<td><img id="imageX17Y6" class="coveredImage"></td>
		<td><img id="imageX17Y7" class="coveredImage"></td>
		<td><img id="imageX17Y8" class="coveredImage"></td>
		<td><img id="imageX17Y9" class="coveredImage"></td>
		<td><img id="imageX17Y10" class="coveredImage"></td>
		<td><img id="imageX17Y11" class="coveredImage"></td>
		<td><img id="imageX17Y12" class="coveredImage"></td>
		<td><img id="imageX17Y13" class="coveredImage"></td>
		<td><img id="imageX17Y14" class="coveredImage"></td>
		<td><img id="imageX17Y15" class="coveredImage"></td>
		<td><img id="imageX17Y16" class="coveredImage"></td>
		<td><img id="imageX17Y17" class="coveredImage"></td>
		<td><img id="imageX17Y18" class="coveredImage"></td>
		<td><img id="imageX17Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX18Y0" class="coveredImage"></td>
		<td><img id="imageX18Y1" class="coveredImage"></td>
		<td><img id="imageX18Y2" class="coveredImage"></td>
		<td><img id="imageX18Y3" class="coveredImage"></td>
		<td><img id="imageX18Y4" class="coveredImage"></td>
		<td><img id="imageX18Y5" class="coveredImage"></td>
		<td><img id="imageX18Y6" class="coveredImage"></td>
		<td><img id="imageX18Y7" class="coveredImage"></td>
		<td><img id="imageX18Y8" class="coveredImage"></td>
		<td><img id="imageX18Y9" class="coveredImage"></td>
		<td><img id="imageX18Y10" class="coveredImage"></td>
		<td><img id="imageX18Y11" class="coveredImage"></td>
		<td><img id="imageX18Y12" class="coveredImage"></td>
		<td><img id="imageX18Y13" class="coveredImage"></td>
		<td><img id="imageX18Y14" class="coveredImage"></td>
		<td><img id="imageX18Y15" class="coveredImage"></td>
		<td><img id="imageX18Y16" class="coveredImage"></td>
		<td><img id="imageX18Y17" class="coveredImage"></td>
		<td><img id="imageX18Y18" class="coveredImage"></td>
		<td><img id="imageX18Y19" class="coveredImage"></td>
	</tr>
	
	<tr>
		<td><img id="imageX19Y0" class="coveredImage"></td>
		<td><img id="imageX19Y1" class="coveredImage"></td>
		<td><img id="imageX19Y2" class="coveredImage"></td>
		<td><img id="imageX19Y3" class="coveredImage"></td>
		<td><img id="imageX19Y4" class="coveredImage"></td>
		<td><img id="imageX19Y5" class="coveredImage"></td>
		<td><img id="imageX19Y6" class="coveredImage"></td>
		<td><img id="imageX19Y7" class="coveredImage"></td>
		<td><img id="imageX19Y8" class="coveredImage"></td>
		<td><img id="imageX19Y9" class="coveredImage"></td>
		<td><img id="imageX19Y10" class="coveredImage"></td>
		<td><img id="imageX19Y11" class="coveredImage"></td>
		<td><img id="imageX19Y12" class="coveredImage"></td>
		<td><img id="imageX19Y13" class="coveredImage"></td>
		<td><img id="imageX19Y14" class="coveredImage"></td>
		<td><img id="imageX19Y15" class="coveredImage"></td>
		<td><img id="imageX19Y16" class="coveredImage"></td>
		<td><img id="imageX19Y17" class="coveredImage"></td>
		<td><img id="imageX19Y18" class="coveredImage"></td>
		<td><img id="imageX19Y19" class="coveredImage"></td>
	</tr>
</table>
			<canvas id="canvas" class="coveringCanvas"></canvas>
		</div>
	</div>

<script type="text/javascript" charset="utf-8">
    
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            		
            var c = document.getElementById("canvas");
        	var ctx = c.getContext("2d");
            		
	        var socket = new WS("@routes.Application.viewer(presenter, username).webSocketURL(request)")
            var receiveEvent = function(event) {
            	var data = JSON.parse(event.data)
            	if(data.kind == "error") {
                    socket.close()
                    $("#messages").text(data.kind + ": " + data.data)
                    return
                } else if(data.kind == "sendImage") {
//                 	document.getElementById("image").src="data:image/png;base64," + data.data;
//                 	document.getElementById("canvas").width = document.getElementById("image").width;
//                 	document.getElementById("canvas").height = document.getElementById("image").height;

					var name = "imageX" + data.x + "Y" + data.y;
                	document.getElementById(name).src="data:image/png;base64," + data.data;
                	c.width = document.getElementById("imageX0Y0").width * 20;
                	c.height = document.getElementById("imageX0Y0").height * 20;
                } else if(data.kind == "sendCursor") {
                	
                	var x = data.x;
                	var y = data.y;
                	
					c.width = c.width;
                	ctx.fillStyle = "#000000";
                	ctx.fillRect(x, y, 5, 5);
                	ctx.fillStyle = "#ffffff";
                	ctx.fillRect(x+1, y+1, 3, 3);
                } else {
                	$("#messages").text("unkown kind: " + data.kind + ": " + data.data)
                }
            }
            
            
            
            socket.onmessage = receiveEvent
            
        })
        
        
    
    </script>
    
}
